@(message: String)

@main("Home" ,user) {

    <form>
        <input type="text" placeholder="Search" id="search"> <br>
        <input type="date" id="datepickerIn"> <input type="date" id="datepickerOut">
    </form>

    <div id="container">
        <img src="@routes.Assets.versioned("images/hotel img.jpeg")" >
        <p>This Hotel is annoying AF This Hotel is annoying AF This Hotel is annoying AF This Hotel is annoying AF</p>
        <a href="#">Reserve </a>
    </div>

    <div id="container">
        <img src="@routes.Assets.versioned("images/hotel2.jpeg")" >
        <p>This Hotel is annoying AF This Hotel is annoying AF This Hotel is annoying AF This Hotel is annoying AF</p>
        <a href="#">Reserve </a>
    </div>
}
